body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url(https://t4.ftcdn.net/jpg/04/39/13/37/240_F_439133763_FrLdhZsd5aGC23r9ATARuKJBr8ifZjIe.jpg);
    background-size: 100vw;;
    align-items: center;
}

.container {
    background-color: transparent;
    padding: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
